<mat-card>
    <mat-card-content>
        <div class="boostrartp-wrappers">
            <div class="container">
                <div class="text-center">
                    <h1 class="mt20" >{{algoritmo.titulo}}</h1>
                </div>
                <div mat-line>{{algoritmo.descripcion}}</div>
            </div>                
        </div>
        <mat-card-actions class="text-center">
            <button mat-raised-button color="primary" routerLink="/admin" >Aceptar</button>

        </mat-card-actions>
    </mat-card-content>
</mat-card>