<mat-card>
    <mat-action-list>
        <div mat-subheader>Menú</div>
        <button mat-list-item>
            <mat-icon mat-list-icon (click)="home()" >home</mat-icon>Inicio
        </button>
        <button mat-list-item routerLink="profile">
            <mat-icon mat-list-icon>account_circle</mat-icon>Perfil
        </button>
        <button mat-list-item>
            <mat-icon mat-list-icon (click)="algoritmos()" >list</mat-icon>Algoritmos
        </button>
    </mat-action-list>
</mat-card>

